@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple50: hsl(260, 100%, 95%);
    --purple300: hsl(264, 82%, 80%);
    --purple500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey100: hsl(214, 17%, 92%);
    --grey200: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grey500: hsl(217, 19%, 35%);
    --darkblue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

* {
    font-family: 'Barlow Semi Condensed';
}

h1, h2, h3, h4, h5 {
    font-size: 20px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "d d j k"
        "h p p k";
    gap: 25px;
    width: 1050px;
}

article {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 30px 30px 50px var(--grey200);
}

.photo-name {
    display: flex;
    gap: 15px;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.name-position p {
    margin: 0;
}

.daniel {
    grid-area: d;
    background-color: var(--purple500);
    color: var(--white);
}

.jonathan {
    grid-area: j;
    background-color: var(--grey500);
    color: var(--white);
}

.jeanette {
    grid-area: h;
    background-color: var(--white);
    color: var(--grey500);
}

.patrick {
    grid-area: p;
    background-color: var(--darkblue);
    color: var(--white);
}

.kira {
    grid-area: k;
    background-color: var(--white);
    color: var(--grey500);
}

@media (max-width: 1000px) {

    body {
        width: 90vw;
        height: fit-content;
        overflow-y: scroll;
        margin: 50px auto;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
            "d"
            "d"
            "j"
            "h"
            "p"
            "p"
            "k"
            "k";
        gap: 25px;
        width: 1050px;
    }
}